* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* color: #783e72; */
  color: #1f1f1f;
}

h1 {
  text-align: center;
  padding-top: 30px;
}

.container {
  margin: 100px auto;
  width: 80%;
  height: 100vh;
  /* background-color: bisque; */
}

.furniture-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
}

.furniture-picture {
  height: 200px;
  width: 350px;
  border-radius: 10px;
}

.furniture-item-info {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
}

.furniture-price {
  color: #d22dc1;
}

.hidden {
  display: none;
}

.single-product-img {
  width: 550px;
  height: 500px;
  border: 1px solid black;
}
